#aa
{
    height: 166px;
    width: 674px;
    border: 1px solid black;
    margin-top: 44px;
}

ul
{
    padding: 0;
    margin: 0;
    height: 81px;
}

    ul li
    {
        list-style-type: none;
        float: left;
        width: 46px;
    }

        ul li a
        {
            text-decoration: none;
            width: 10px;
            height: 16px;
            background: gray;
            display: block;
            margin-left: 10px;
            color: white;
            padding-bottom: 10px;
            padding-top: 5px;
            padding-right: 13px;
            padding-left: 7px;
        }

#cam1
{
    position: absolute;
    margin-left: 40px;
    margin-top: 15px;
    width: 283px;
    height: 30px;
    top: 247px;
    left: 349px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: 1;
}

#cam1arka
{
    position: absolute;
    margin-left: 320px;
    margin-top: 15px;
    width: 251px;
    height: 30px;
    top: 247px;
    left: 428px;
}

#koridor1
{
    position: absolute;
    margin-left: 40px;
    margin-top: 55px;
    width: 276px;
    height: 30px;
    top: 249px;
    left: 350px;
}

#koridor1arka
{
    position: absolute;
    margin-left: 320px;
    margin-top: 55px;
    width: 250px;
    height: 32px;
    top: 247px;
    left: 428px;
}

#cam2
{
    margin-top: 125px;
    position: absolute;
    margin-left: 40px;
    top: 264px;
    left: 349px;
    width: 584px;
}

#koridor2
{
    margin-top: 165px;
    position: absolute;
    margin-left: 40px;
    top: 272px;
    left: 349px;
    width: 585px;
}

#giriskapisi
{
    width: 39px;
    height: 69px;
    border: 1px solid gray;
    position: absolute;
    margin-top: 15px;
    margin-left: 5px;
    text-indent: 5px;
    top: 250px;
    left: 336px;
}

    #giriskapisi p
    {
        position: absolute;
        top: -4px;
        left: -1px;
        height: 21px;
        width: 37px;
    }

#ortakapi
{
    width: 39px;
    height: 69px;
    border: 1px solid gray;
    position: absolute;
    margin-top: 15px;
    margin-left: 285px;
    top: 243px;
    left: 400px;
}

    #ortakapi p
    {
        position: absolute;
        left: 1px;
        top: 1px;
        height: 50px;
        width: 33px;
        right: 5px;
    }

.p1
{
    margin-top: 5px;
}

.p2
{
    margin-top: 20px;
}

#giriskapisi-p
{
    left: -5px;
}

#surucu
{
    position: absolute;
    width: 30px;
    height: 30px;
    background: navy;
    margin-top: 150px;
    left: 354px;
    top: 286px;
}

#ComfortlessBus
{
    width: 650px;
    height: 250px;
    margin: 0 auto;
    border: 5px solid gray;
}
#YolcuBilgi
{
    width: 650px;
    height: 250px;
    margin: 0 auto;
    border: 5px solid gray;
}
#ComfortableBus
{
    width: 650px;
    height: 220px;
    margin: 0 auto;
    border: 5px solid gray;
}

.koltuk
{
    width: 45px;
    height: 45px;
    position:relative;
    font-size:12px;
    font-weight:bold;
    color:gray;
    top: 2px;
    left: 2px;
}

    .koltuk p
    {
        position:absolute;
        right:25px;
        top:-8px;
        height: 15px;
}

.koridor
{
    width: 45px;
    height: 35px;
}

.kapi
{
    margin-left:2.5px;
    margin-bottom:55px;
}
